head
  title Dev Kit - Navi Israel
  link(rel='canonical' href='/')
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(name='theme-color' content='#ad38f1')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  meta(http-equiv='Cache-Control' content='no-cache, no-store, must-revalidate')
  meta(http-equiv='Pragma' content='no-cache')
  meta(http-equiv='Expires' content='0')
  link(rel='apple-touch-icon' sizes='120x120' href='/img/icons/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='/img/icons/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='/img/iconsfavicon-16x16.png')
  link(rel='mask-icon' href='/img/icons/safari-pinned-tab.svg' color='#5bbad5')
  link(rel='manifest' href='/manifest.json')
  link(rel='stylesheet' href='/css/styles.css')
  script(async='' defer='' src='https://buttons.github.io/buttons.js')

body
  #app
    .home
      .Aligner
        .Aligner-item
          h1 Dev-Starter-Kit
          .menu
            ul
              li Navi Israel
          .version-num version 4.0.0
//- script(src='/js/dist/vendors~FirstComp.js')
script(src='/js/dist/FirstComp.js')
script(src='/js/dist/main.js')