
<head>
  <title>Dev Kit - Navi Israel</title>
  <link rel="canonical" href="/"/>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta name="theme-color" content="#ad38f1"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
  <meta http-equiv="Pragma" content="no-cache"/>
  <meta http-equiv="Expires" content="0"/>
  <link rel="apple-touch-icon" sizes="120x120" href="/img/icons/apple-touch-icon.png"/>
  <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png"/>
  <link rel="icon" type="image/png" sizes="16x16" href="/img/iconsfavicon-16x16.png"/>
  <link rel="mask-icon" href="/img/icons/safari-pinned-tab.svg" color="#5bbad5"/>
  <link rel="manifest" href="/manifest.json"/>
  <link rel="stylesheet" href="/css/styles.css"/>
  <script async="" defer="" src="https://buttons.github.io/buttons.js"></script>
</head>
<body>
  <div id="app">
    <div class="home">
      <div class="Aligner">
        <div class="Aligner-item">
          <h1>Dev-Starter-Kit</h1>
          <div class="menu">
            <ul>
              <li>Navi Israel</li>
            </ul>
          </div>
          <div class="version-num">version 4.0.0</div>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="/js/dist/FirstComp.js"></script>
<script src="/js/dist/main.js"></script>