@media (min-width: 1499.99px) {
  footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
  }

  .footer__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
  }

  .footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  .footer__social ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__social ul li {
    margin: 0 0.3rem;
    list-style: none;
  }
  .footer__social a {
    font-size: 1rem;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    color: #0000007e;
    position: relative;
    text-align: center;
    transition: all 0.5 ease-in-out;
  }
  .footer__social a:hover {
    color: #000000;
  }

  .footer__social i {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid grey;
    padding: 8px;
    transition: all 0.5 ease-in-out;
  }

  .footer__container span {
    font-size: 0.8rem;
    font-weight: 400;
    font-family: "Noto Sans", sans-serif;
    color: #0000007e;
    text-align: center;
  }
}

/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1199.99px) and (max-width: 1499.98px) {
  footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
  }

  .footer__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
  }

  .footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  .footer__social ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__social ul li {
    margin: 0 0.3rem;
    list-style: none;
  }
  .footer__social a {
    font-size: 1rem;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    color: #0000007e;
    position: relative;
    text-align: center;
    transition: all 0.5 ease-in-out;
  }
  .footer__social a:hover {
    color: #000000;
  }

  .footer__social i {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid grey;
    padding: 8px;
    transition: all 0.5 ease-in-out;
  }

  .footer__container span {
    font-size: 0.8rem;
    font-weight: 400;
    font-family: "Noto Sans", sans-serif;
    color: #0000007e;
    text-align: center;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 991.99px) and (max-width: 1199.98px) {
  footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
  }

  .footer__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
  }

  .footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  .footer__social ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__social ul li {
    margin: 0 0.3rem;
    list-style: none;
  }
  .footer__social a {
    font-size: 1rem;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    color: #0000007e;
    position: relative;
    text-align: center;
    transition: all 0.5 ease-in-out;
  }
  .footer__social a:hover {
    color: #000000;
  }

  .footer__social i {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid grey;
    padding: 8px;
    transition: all 0.5 ease-in-out;
  }

  .footer__container span {
    font-size: 0.8rem;
    font-weight: 400;
    font-family: "Noto Sans", sans-serif;
    color: #0000007e;
    text-align: center;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) {
  footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 6rem 0;
  }

  .footer__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
  }

  .footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  .footer__social ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__social ul li {
    margin: 0 0.3rem;
    list-style: none;
  }
  .footer__social a {
    font-size: 1rem;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    color: #0000007e;
    position: relative;
    text-align: center;
    transition: all 0.5 ease-in-out;
  }
  .footer__social a:hover {
    color: #000000;
  }

  .footer__social i {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid grey;
    padding: 8px;
    transition: all 0.5 ease-in-out;
  }

  .footer__container span {
    font-size: 0.8rem;
    font-weight: 400;
    font-family: "Noto Sans", sans-serif;
    color: #0000007e;
    text-align: center;
  }
}

/* Large Phone devices (portrait phones, less than 576px) */
@media (min-width: 379.99px) and (max-width: 575.98px) {
  footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 6rem 0;
  }

  .footer__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
  }

  .footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  .footer__social ul {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .footer__social ul li {
    margin: 0 0.3rem;
    list-style: none;
  }
  .footer__social a {
    font-size: 1rem;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    color: #0000007e;
    position: relative;
    text-align: center;
    transition: all 0.5 ease-in-out;
  }
  .footer__social a:hover {
    color: #000000;
  }

  .footer__social i {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid grey;
    padding: 8px;
    transition: all 0.5 ease-in-out;
  }

  .footer__container span {
    font-size: 0.8rem;
    font-weight: 400;
    font-family: "Noto Sans", sans-serif;
    color: #0000007e;
    text-align: center;
  }
}

/* Small Phone devices (portrait phones, less than 379.98) */
@media (max-width: 379.98px) {
  footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0 6rem 0;
  }

  .footer__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
  }

  .footer__social {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }
  .footer__social ul {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  .footer__social ul li {
    margin: 0 0.3rem;
    list-style: none;
  }
  .footer__social a {
    font-size: 1rem;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    color: #0000007e;
    position: relative;
    text-align: center;
    transition: all 0.5 ease-in-out;
  }
  .footer__social a:hover {
    color: #000000;
  }

  .footer__social i {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    border: 1px solid grey;
    padding: 8px;
    transition: all 0.5 ease-in-out;
  }

  .footer__container span {
    font-size: 0.8rem;
    font-weight: 400;
    font-family: "Noto Sans", sans-serif;
    color: #0000007e;
    text-align: center;
  }
}
