@media (min-width: 1499.99px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    max-width: 1500px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 3;

    .header__logo {
      font-size: 2rem;
      color: white;
      font-weight: bold;
      cursor: pointer;
      font-family: "Lato", sans-serif;
    }

    .header__nav ul {
      display: flex;
      align-items: center;
    }

    .header__nav ul li {
      list-style: none;
      text-transform: uppercase;
      font-size: 1rem;
      font-weight: 600;
      font-family: "Lato", sans-serif;
      cursor: pointer;
      padding: 0 1rem;
    }

    .header__nav ul li a {
      color: #f7f8fd;
      text-decoration: none;
      transition: all 0.5s ease-in-out;
    }

    .header__nav ul li a:hover {
      color: rgba(255, 255, 255, 0.4);
      text-decoration: none;
    }
  }
}

/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1199.99px) and (max-width: 1499.98px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    max-width: 1200px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
  }

  .header__logo {
    font-size: 2rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-family: "Lato", sans-serif;
  }

  .header__nav ul {
    display: flex;
    align-items: center;
  }

  .header__nav ul li {
    list-style: none;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    cursor: pointer;
    padding: 0 1rem;
  }

  .header__nav ul li a {
    color: #f7f8fd;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }

  .header__nav ul li a:hover {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 991.99px) and (max-width: 1199.98px) {
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    max-width: 950px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
  }

  .header__logo {
    font-size: 1.8rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-family: "Lato", sans-serif;
  }

  .header__nav ul {
    display: flex;
    align-items: center;
  }

  .header__nav ul li {
    list-style: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    cursor: pointer;
    padding: 0 1rem;
  }

  .header__nav ul li a {
    color: #f7f8fd;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }

  .header__nav ul li a:hover {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) {
  header {
    display: none;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 575.99px) and (max-width: 767.98px) {
  header {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    max-width: 300px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
  }

  .header__logo {
    font-size: 1.8rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-family: "Lato", sans-serif;
  }

  .header__nav ul {
    display: flex;
    align-items: center;
  }

  .header__nav ul li {
    list-style: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    cursor: pointer;
    padding: 0 1rem;
  }

  .header__nav ul li a {
    color: #f7f8fd;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }

  .header__nav ul li a:hover {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
  }
}

/* Large Phone devices (portrait phones, less than 576px) */
@media (min-width: 379.99px) and (max-width: 575.98px) {
  header {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    max-width: 300px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
  }

  .header__logo {
    font-size: 1.8rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-family: "Lato", sans-serif;
  }

  .header__nav ul {
    display: flex;
    align-items: center;
  }

  .header__nav ul li {
    list-style: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    cursor: pointer;
    padding: 0 1rem;
  }

  .header__nav ul li a {
    color: #f7f8fd;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }

  .header__nav ul li a:hover {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
  }
}

/* Small Phone devices (portrait phones, less than 379.98) */
@media (max-width: 379.98px) {
  header {
    display: none;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    max-width: 300px;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 2;
  }

  .header__logo {
    font-size: 1.8rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    font-family: "Lato", sans-serif;
  }

  .header__nav ul {
    display: flex;
    align-items: center;
  }

  .header__nav ul li {
    list-style: none;
    text-transform: uppercase;
    font-size: 0.9rem;
    font-weight: 600;
    font-family: "Lato", sans-serif;
    cursor: pointer;
    padding: 0 1rem;
  }

  .header__nav ul li a {
    color: #f7f8fd;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
  }

  .header__nav ul li a:hover {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
  }
}
