@media (min-width: 1499.99px){
.hero {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.pexels.com/photos/2617573/pexels-photo-2617573.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  .hero__line {
    height: 1px;
    border-width: 0;
    color: #ffffff;
    background-color: white;
    width: 60px;
  }

  .hero__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0 0 10vh 0;
    position: absolute;
  }

  .hero__signature {
    font-size: 3rem;
    font-weight: bold;
    color: #f7f8fd;
    font-family: "Cedarville Cursive", cursive;
  }

  .hero__position {
    font-size: 5rem;
    font-weight: 700;
    color: #f7f8fd;
    font-family: "Lato", sans-serif;
    text-transform: capitalize;
    padding: 1rem 0 2rem 0;
  }

  .hero__other-positions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
  }

  .hero__titles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 600px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
    color: #f7f8fd;
    font-family: "Noto Sans", sans-serif;
  }

  .hero__btn {
    padding: 2rem;
  }
  .hero__btn a {
    text-decoration: none;
    color: #f7f8fd;
  }
  .hero__btn button {
    background-color: transparent;
    border: 2px solid #f7f8fd;
    border-radius: 4px;
    padding: 1rem 3rem;
    font-size: 0.9rem;
    font-weight: 700;
    color: #f7f8fd;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
  }
  .hero__btn button:hover {
    background-color: #f7f8fd;
    color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease-in-out;
  }
  .hero__btn a:hover {
    text-decoration: none;
  }}
}
/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1199.99px) and (max-width: 1499.98px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://images.pexels.com/photos/2617573/pexels-photo-2617573.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0 0 10vh 0;
    position: absolute;
  }

  .hero__signature {
    font-size: 3rem;
    font-weight: bold;
    color: #f7f8fd;
    font-family: "Cedarville Cursive", cursive;
  }

  .hero__position {
    font-size: 5rem;
    font-weight: 700;
    color: #f7f8fd;
    font-family: "Lato", sans-serif;
    text-transform: capitalize;
    padding: 1rem 0 2rem 0;
  }

  .hero__other-positions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
  }

  .hero__titles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 600px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.9rem;
    color: #f7f8fd;
    font-family: "Noto Sans", sans-serif;
  }

  .hero__btn {
    padding: 2rem;
  }
  .hero__btn a {
    text-decoration: none;
    color: #f7f8fd;
  }
  .hero__btn button {
    background-color: transparent;
    border: 2px solid #f7f8fd;
    border-radius: 4px;
    padding: 1rem 3rem;
    font-size: 0.9rem;
    font-weight: 700;
    color: #f7f8fd;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
  }
  .hero__btn button:hover {
    background-color: #f7f8fd;
    color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease-in-out;
  }
  .hero__btn a:hover {
    text-decoration: none;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 991.99px) and (max-width: 1199.98px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://images.pexels.com/photos/2617573/pexels-photo-2617573.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 8rem;
    position: absolute;
  }

  .hero__signature {
    font-size: 2.5rem;
    font-weight: bold;
    color: #f7f8fd;
    font-family: "Cedarville Cursive", cursive;
  }

  .hero__position {
    font-size: 4rem;
    font-weight: 700;
    color: #f7f8fd;
    font-family: "Lato", sans-serif;
    text-transform: capitalize;
    padding: 1rem 0 2rem 0;
  }

  .hero__other-positions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 600px;
  }

  .hero__titles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 600px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    color: #f7f8fd;
    font-family: "Noto Sans", sans-serif;
  }

  .hero__btn {
    padding: 2rem;
  }
  .hero__btn a {
    text-decoration: none;
    color: #f7f8fd;
  }
  .hero__btn button {
    background-color: transparent;
    border: 2px solid #f7f8fd;
    border-radius: 4px;
    padding: 0.8rem 2rem;
    font-size: 0.8rem;
    font-weight: 700;
    color: #f7f8fd;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
  }
  .hero__btn button:hover {
    background-color: #f7f8fd;
    color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease-in-out;
  }
  .hero__btn a:hover {
    text-decoration: none;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://images.pexels.com/photos/2617573/pexels-photo-2617573.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 1.5rem;
    position: absolute;
    padding-bottom: 15rem;
  }

  .hero__signature {
    font-size: 2.3rem;
    font-weight: 700;
    color: #f7f8fd;
    font-family: "Cedarville Cursive", cursive;
  }

  .hero__position {
    font-size: 3rem;
    font-weight: 700;
    color: #f7f8fd;
    font-family: "Lato", sans-serif;
    text-transform: capitalize;
    padding: 1rem 0 2rem 0;
  }

  .hero__other-positions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 550px;
  }

  .hero__titles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 600px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.8rem;
    color: #f7f8fd;
    font-family: "Noto Sans", sans-serif;
  }

  .hero__btn {
    visibility: hidden;
    padding: 2rem;
  }
  .hero__btn a {
    text-decoration: none;
    color: #f7f8fd;
  }
  .hero__btn button {
    background-color: transparent;
    border: 2px solid #f7f8fd;
    border-radius: 4px;
    padding: 1rem 2rem;
    font-size: 0.95rem;
    font-weight: 700;
    color: #f7f8fd;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
  }
  .hero__btn button:hover {
    background-color: #f7f8fd;
    color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease-in-out;
  }
  .hero__btn a:hover {
    text-decoration: none;
  }
}

/* Small devices (landscape phones, less than 768px) */
@media (min-width: 575.99px) and (max-width: 767.98px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://images.pexels.com/photos/2617573/pexels-photo-2617573.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero__line {
    height: 1px;
    border-width: 0;
    color: white;
    background-color: white;
    width: 20px;
  }

  .hero__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 0.5rem;
    position: absolute;
  }

  .hero__signature {
    font-size: 1.8rem;
    font-weight: 700;
    color: #f7f8fd;
    font-family: "Cedarville Cursive", cursive;
  }

  .hero__position {
    font-size: 2rem;
    font-weight: 700;
    color: #f7f8fd;
    font-family: "Lato", sans-serif;
    text-transform: capitalize;
    padding: 1rem 0 2rem 0;
  }

  .hero__other-positions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
  }

  .hero__titles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 300px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.6rem;
    color: #f7f8fd;
    font-family: "Noto Sans", sans-serif;
  }

  .hero__btn {
    padding: 2rem;
  }
  .hero__btn a {
    text-decoration: none;
    color: #f7f8fd;
  }
  .hero__btn button {
    background-color: transparent;
    border: 2px solid #f7f8fd;
    border-radius: 4px;
    padding: 0.6rem 1.5rem;
    font-size: 0.7rem;
    font-weight: 700;
    color: #f7f8fd;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
  }
  .hero__btn button:hover {
    background-color: #f7f8fd;
    color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease-in-out;
  }
  .hero__btn a:hover {
    text-decoration: none;
  }
}

/* Large Phone devices (portrait phones, less than 576px) */
@media (min-width: 379.99px) and (max-width: 575.98px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://images.pexels.com/photos/2617573/pexels-photo-2617573.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero__line {
    height: 1px;
    border-width: 0;
    color: white;
    background-color: white;
    width: 20px;
  }

  .hero__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 15rem 0;
    position: absolute;
  }

  .hero__signature {
    font-size: 1.8rem;
    font-weight: 700;
    color: #f7f8fd;
    font-family: "Cedarville Cursive", cursive;
  }

  .hero__position {
    font-size: 2rem;
    font-weight: 700;
    color: #f7f8fd;
    font-family: "Lato", sans-serif;
    text-transform: capitalize;
    padding: 1rem 0 2rem 0;
  }

  .hero__other-positions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
  }

  .hero__titles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 300px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.6rem;
    color: #f7f8fd;
    font-family: "Noto Sans", sans-serif;
  }

  .hero__btn {
    visibility: hidden;
    padding: 2rem;
  }
  .hero__btn a {
    text-decoration: none;
    color: #f7f8fd;
  }
  .hero__btn button {
    background-color: transparent;
    border: 2px solid #f7f8fd;
    border-radius: 4px;
    padding: 0.6rem 1.5rem;
    font-size: 0.7rem;
    font-weight: 700;
    color: #f7f8fd;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
  }
  .hero__btn button:hover {
    background-color: #f7f8fd;
    color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease-in-out;
  }
  .hero__btn a:hover {
    text-decoration: none;
  }
}

/* Small Phone devices (portrait phones, less than 379.98) */
@media (max-width: 379.98px) {
  .hero {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
    z-index: 1;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
      url("https://images.pexels.com/photos/2617573/pexels-photo-2617573.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .hero__line {
    height: 1px;
    border-width: 0;
    color: white;
    background-color: white;
    width: 20px;
  }

  .hero__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    padding: 10rem 0;
    position: absolute;
  }

  .hero__signature {
    font-size: 1.8rem;
    font-weight: 700;
    color: #f7f8fd;
    font-family: "Cedarville Cursive", cursive;
  }

  .hero__position {
    font-size: 2rem;
    font-weight: 700;
    color: #f7f8fd;
    font-family: "Lato", sans-serif;
    text-transform: capitalize;
    padding: 1rem 0 2rem 0;
  }

  .hero__other-positions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 350px;
  }

  .hero__titles {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    width: 300px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.6rem;
    color: #f7f8fd;
    font-family: "Noto Sans", sans-serif;
  }

  .hero__btn {
    visibility: hidden;
    padding: 2rem;
  }
  .hero__btn a {
    text-decoration: none;
    color: #f7f8fd;
  }
  .hero__btn button {
    background-color: transparent;
    border: 2px solid #f7f8fd;
    border-radius: 4px;
    padding: 0.6rem 1.5rem;
    font-size: 0.7rem;
    font-weight: 700;
    color: #f7f8fd;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
  }
  .hero__btn button:hover {
    background-color: #f7f8fd;
    color: rgba(0, 0, 0, 0.6);
    transition: all 0.5s ease-in-out;
  }
  .hero__btn a:hover {
    text-decoration: none;
  }
}

/*Phone Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 950px) 
  and (orientation: landscape) { 
    .hero {
      display: flex;
      justify-content: center;
      align-items: flex-end;
      width: 100vw;
      height: 100vh;
      z-index: 1;
      background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
        url("https://images.pexels.com/photos/2617573/pexels-photo-2617573.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
  
    .hero__line {
      height: 1px;
      border-width: 0;
      color: white;
      background-color: white;
      width: 20px;
    }
  
    .hero__text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: 100%;
      padding: 0;
      position: absolute;
    }
  
    .hero__signature {
      font-size: 1.8rem;
      font-weight: 700;
      color: #f7f8fd;
      font-family: "Cedarville Cursive", cursive;
    }
  
    .hero__position {
      font-size: 2rem;
      font-weight: 700;
      color: #f7f8fd;
      font-family: "Lato", sans-serif;
      text-transform: capitalize;
      padding: 1rem 0 2rem 0;
    }
  
    .hero__other-positions {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      width: 350px;
    }
  
    .hero__titles {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      text-align: center;
      width: 300px;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 0.6rem;
      color: #f7f8fd;
      font-family: "Noto Sans", sans-serif;
    }
  
    .hero__btn {
      visibility: hidden;
      padding: 2rem;
    }
    .hero__btn a {
      text-decoration: none;
      color: #f7f8fd;
    }
    .hero__btn button {
      background-color: transparent;
      border: 2px solid #f7f8fd;
      border-radius: 4px;
      padding: 0.6rem 1.5rem;
      font-size: 0.7rem;
      font-weight: 700;
      color: #f7f8fd;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      text-transform: uppercase;
    }
    .hero__btn button:hover {
      background-color: #f7f8fd;
      color: rgba(0, 0, 0, 0.6);
      transition: all 0.5s ease-in-out;
    }
    .hero__btn a:hover {
      text-decoration: none;
    }
}
