@media (min-width: 1499.99px) {
  .portfolio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
  }

  .portfolio__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1200px;
    width: 100%;
  }

  .portfolio__title {
    background-color: #f2b749;
    height: 30px;
    align-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
  }

  .portfolio__text h2 {
    font-size: 1.3rem;
    font-weight: 300;
    color: rgb(0, 0, 0);
    font-family: "Noto Sans", sans-serif;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
  }

  .portfolio__summary {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    align-self: start;
    max-width: 500px;
    width: 100%;
    line-height: 1.2;
    margin-bottom: 2rem;
  }

  .portfolio__gallery {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 2rem;
  }

  .portfolio__gallery-filter {
    display: flex;
  }
  .portfolio__gallery-filter-item {
    padding-right: 2rem;
  }
  .portfolio__gallery-filter-item button {
    font-size: 0.9rem;
    font-weight: 700;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    color: #0000007e;
    transition: all 0.5s ease-in-out;
    background: none;
    border: none;
    cursor: pointer;
  }
  .portfolio__gallery-filter-item button:hover {
    color: #000000;
  }
  .portfolio__gallery-filter-item .active {
    color: #324bd9;
    text-decoration: none;
  }
  .portfolio__gallery-filter-item .active:hover {
    color: #324bd9;
  }

  .show {
    display: block;
    transition: all 0.5s ease-in-out;
  }
  .portfolio__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    row-gap: 1rem;
    width: 1200px;
    margin: 1rem 0;
    height: 100%;


    img{
      transition: all 0.5s ease-in-out;
    cursor: pointer;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
    min-height: 100%;
  width: 100%;
    }

    img:hover{
      transform: scale(1.05);
    }
  }
}

/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1199.99px) and (max-width: 1499.98px) {
  .portfolio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
  }

  .portfolio__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
  }

  .portfolio__title {
    background-color: #f2b749;
    height: 30px;
    align-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.8rem;
  }

  .portfolio__text h2 {
    font-size: 1.3rem;
    font-weight: 300;
    color: rgb(0, 0, 0);
    font-family: "Noto Sans", sans-serif;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
  }

  .portfolio__summary {
    font-size: 1.5rem;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    align-self: start;
    max-width: 500px;
    width: 100%;
    line-height: 1.2;
    margin-bottom: 2rem;
  }

  .portfolio__gallery {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .portfolio__gallery-filter {
    display: flex;
  }
  .portfolio__gallery-filter-item {
    padding-right: 2rem;
  }
  .portfolio__gallery-filter-item button {
    font-size: 0.9rem;
    font-weight: 700;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    color: #0000007e;
    transition: all 0.5s ease-in-out;
    background: none;
    border: none;
    cursor: pointer;
  }
  .portfolio__gallery-filter-item button:hover {
    color: #000000;
  }
  .portfolio__gallery-filter-item .active {
    color: #324bd9;
    text-decoration: none;
  }
  .portfolio__gallery-filter-item .active:hover {
    color: #324bd9;
  }


  .portfolio__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    row-gap: 1rem;
    width: 1000px;
    margin: 1rem 0;
  }
  .portfolio__grid-item {
    // display: none;
    transition: all 0.5s ease-in-out;
    position: relative;
    max-width: 384px;
    width: 100%;
  }

  .portfolio__grid-item-img img{
    min-height: 100%;
    width: 100%;
  }

  .portfolio__grid img:hover {
    transform: scale(1.05);
  }
  .portfolio__grid-item-img {
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .portfolio__grid-item-img:hover {
    transform: scale(1.05);
  }

}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 991.99px) and (max-width: 1199.98px) {
  .portfolio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
  }

  .portfolio__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 800px;
    width: 100%;
  }

  .portfolio__title {
    background-color: #f2b749;
    height: 25px;
    align-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.8rem;
  }

  .portfolio__text h2 {
    font-size: 1rem;
    font-weight: 300;
    color: rgb(0, 0, 0);
    font-family: "Noto Sans", sans-serif;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
  }

  .portfolio__summary {
    font-size: 1.2rem;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    align-self: start;
    max-width: 500px;
    width: 100%;
    line-height: 1.2;
    margin-bottom: 2rem;
  }

  .portfolio__gallery-filter {
    display: flex;
  }
  .portfolio__gallery-filter-item {
    padding-right: 2rem;
  }
  .portfolio__gallery-filter-item button {
    font-size: 0.9rem;
    font-weight: 700;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    color: #0000007e;
    transition: all 0.5s ease-in-out;
    background: none;
    border: none;
    cursor: pointer;
  }
  .portfolio__gallery-filter-item button:hover {
    color: #000000;
  }
  .portfolio__gallery-filter-item .active {
    color: #324bd9;
    text-decoration: none;
  }
  .portfolio__gallery-filter-item .active:hover {
    color: #324bd9;
  }

  .portfolio__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    row-gap: 1rem;
    width: 800px;
    margin: 1rem 0;
  }
  .portfolio__grid-item {
    // display: none;
    transition: all 0.5s ease-in-out;
    position: relative;
  }


  .portfolio__grid-item-img {
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .portfolio__grid-item-img img{
    min-height: 100%;
    width: 100%;
    }
  .portfolio__grid-item-img:hover {
    transform: scale(1.05);
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) {
  .portfolio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4rem 0;
  }

  .portfolio__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    max-width: 700px;
    width: 100%;
  }

  .portfolio__title {
    background-color: #f2b749;
    height: 25px;
    align-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.8rem;
  }

  .portfolio__text h2 {
    font-size: 0.9rem;
    font-weight: 300;
    color: rgb(0, 0, 0);
    font-family: "Noto Sans", sans-serif;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
  }

  .portfolio__summary {
    font-size: 1.1rem;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    align-self: start;
    max-width: 500px;
    width: 100%;
    line-height: 1.2;
    margin-bottom: 2rem;
  }

  .portfolio__gallery {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .portfolio__gallery-filter {
    display: flex;
  }
  .portfolio__gallery-filter-item {
    padding-right: 2rem;
  }
  .portfolio__gallery-filter-item button {
    font-size: 0.8rem;
    font-weight: 700;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    color: #0000007e;
    transition: all 0.5s ease-in-out;
    background: none;
    border: none;
    cursor: pointer;
  }
  .portfolio__gallery-filter-item button:hover {
    color: #000000;
  }
  .portfolio__gallery-filter-item .active {
    color: #324bd9;
    text-decoration: none;
  }
  .portfolio__gallery-filter-item .active:hover {
    color: #324bd9;
  }

  .portfolio__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
    row-gap: 1rem;
    width: 700px;
    margin: 1rem 0;
  }
  .portfolio__grid-item {
    // display: none;
    transition: all 0.5s ease-in-out;
    position: relative;
  }


  .portfolio__grid-item-img {
    transition: all 0.5s ease-in-out;
    cursor: pointer;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .portfolio__grid-item-img img{
    min-height: 100%;
    width: 100%;
    }
  .portfolio__grid-item-img:hover {
    transform: scale(1.05);
  }
}

/* Large Phone devices (portrait phones, less than 576px) */
@media (min-width: 379.99px) and (max-width: 575.98px) {
  .portfolio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
  }

  .portfolio__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    
  }

  .portfolio__title {
    background-color: #f2b749;
    height: 25px;
    align-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem 0.8rem 1.5rem;
    
  }

  .portfolio__text h2 {
    font-size: 0.9rem;
    font-weight: 300;
    color: rgb(0, 0, 0);
    font-family: "Noto Sans", sans-serif;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
  }

  .portfolio__summary {
    font-size: 1.1rem;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    align-self: start;
    width: 100%;
    line-height: 1.2;
    margin-bottom: 2rem;
    padding: 0 1.5rem;
  }

  .portfolio__gallery{
    width: 100%;
    padding: 0 .5rem;
  }
  .portfolio__gallery-filter {
    display: flex;
    padding-left: 1.5rem;
  }
  .portfolio__gallery-filter-item {
    padding-right: 1.2rem;
  }
  .portfolio__gallery-filter-item button {
    font-size: 0.8rem;
    font-weight: 700;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    color: #0000007e;
    transition: all 0.5s ease-in-out;
    background: none;
    border: none;
    cursor: pointer;
  }
  .portfolio__gallery-filter-item button:hover {
    color: #000000;
  }
  .portfolio__gallery-filter-item .active {
    color: #324bd9;
    text-decoration: none;
  }

  .portfolio__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
    row-gap: 0.5rem;
    width: 100%;
    margin: 1rem 0;
  }
  .portfolio__grid img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
  .portfolio__grid img:hover {
    transform: scale(1.05);
  }
}

/* Small Phone devices (portrait phones, less than 379.98) */
@media (max-width: 379.98px) {
  .portfolio {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
  }

  .portfolio__container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }

  .portfolio__title {
    background-color: #f2b749;
    height: 25px;
    align-self: start;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 1.5rem 0.8rem 1.5rem;
  }

  .portfolio__text h2 {
    font-size: 0.9rem;
    font-weight: 300;
    color: rgb(0, 0, 0);
    font-family: "Noto Sans", sans-serif;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
  }

  .portfolio__summary {
    font-size: 1.1rem;
    font-weight: 700;
    font-family: "Noto Sans", sans-serif;
    align-self: start;
    max-width: 350px;
    width: 100%;
    line-height: 1.2;
    margin-bottom: 2rem;
    padding: 0 1.5rem;
  }

  .portfolio__gallery {
    width: 100%;
    padding: 0 .5rem;
  }

  .portfolio__gallery-filter {
    display: flex;
    padding-left: 1.5rem;
  }
  .portfolio__gallery-filter-item {
    padding-right: 1.2rem;
  }
  .portfolio__gallery-filter-item button {
    font-size: 0.8rem;
    font-weight: 700;
    text-decoration: none;
    font-family: "Noto Sans", sans-serif;
    color: #0000007e;
    transition: all 0.5s ease-in-out;
    background: none;
    border: none;
    cursor: pointer;
  }
  .portfolio__gallery-filter-item button:hover {
    color: #000000;
  }
  .portfolio__gallery-filter-item .active {
    color: #324bd9;
    text-decoration: none;
  }
  .portfolio__gallery-filter-item .active:hover {
    color: #324bd9;
  }

  .portfolio__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
    row-gap: 0.5rem;
    max-width: 350px;
    width: 100%;
    margin: 1rem 0;
  }
  .portfolio__grid img {
    width: 175px;
    height: 175px;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
    cursor: pointer;
  }
  .portfolio__grid img:hover {
    transform: scale(1.05);
  }
}
