@import "reset";
@import "project-modal";
@import 'mobile-nav';
@import "header";
@import "hero";
@import "about";
@import "portfolio";
@import "skills";
@import "jobs";
@import "footer";

html {
  scroll-behavior: smooth;
}

body {
  background-color: #f7f8fd;
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}


@media (min-width: 1499.99px) {
  #wrapper {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
    z-index: 2;
  }
}

/* X-Large devices (large desktops, less than 1400px) */
@media (min-width: 1199.99px) and (max-width: 1499.98px) {
  .wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
  }
}

/* Large devices (desktops, less than 1200px) */
@media (min-width: 991.99px) and (max-width: 1199.98px) {
  .wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (min-width: 767.99px) and (max-width: 991.98px) {
  .wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
  }
}


/* Large Phone devices (portrait phones, less than 576px) */
@media (min-width: 379.99px) and (max-width: 575.98px) {
  .wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
  }
}

/* Small Phone devices (portrait phones, less than 379.98) */
@media (max-width: 379.98px) {
  .wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow-x: hidden;
  }
}
/*Phone Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 950px) 
  and (orientation: landscape) { 
    .wrapper {
      width: 100%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      overflow-x: hidden;
    }
}