<script>
    import Header from './Header.svelte';
    
    console.log('swag')
</script>
<style>
    h1 {
        color: red;
    }
</style>
<Header/>
<div id="app">
    <div class="home">
      <div class="Aligner">
        <div class="Aligner-item">
          <h1>Svelte Activated</h1>
          <div class="menu">
            <ul>
              <li>Navi Israel</li>
            </ul>
          </div>
          <div class="version-num">version 4.0.5</div>
        </div>
      </div>
    </div>
  </div>
